/autom4te.cache/
/Makefile
/Makefile.in
/config.status
/configure.tmp
/configure~
/.deps/
/.libs/
*.trs
/unittests
/test-driver
/config.log
/*.tmp
/m4/
/configure
/libtool
/ltmain.sh
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing