chromaprint
cpu-features
dav1d
expat
ffmpeg
fontconfig
freetype
fribidi
giflib
gmp
gnutls
harfbuzz
jpeg
kvazaar
lame
leptonica
libaom
libass
libiconv
libilbc
libogg
libpng
libsamplerate
libsndfile
libtheora
libuuid
libvidstab
libvorbis
libvpx
libwebp
libxml2
nettle
opencore-amr
openh264
opus
rubberband
sdl
shine
snappy
soxr
speex
tesseract
tiff
twolame
vo-amrwbenc
x264
x265
xvidcore
